img{
  height: 100%;
  width: auto;
}

.sidebar{
  width: 20%;
  height: 100%;
  display: inline-block;
  color: #FFFFFF;
  font-family: "Bebas";
  font-size: 24px;
  margin-top: 20px;
}
.main-content{
  width: 75%;
  display: inline-block;
  border: 1px solid black;
}

